template(name='subjects')
  h2 Subjects
  
  if errorMessages
    each errorMessages
      ul
        li.alert.alert-danger #{this}
  .form-group
    div
      input.form-control.subjectName(type='text' name='subjectName' placeholder='Subject Name')
    .form-group
      div
        button.btn.btn-primary.btn-block.addNewSubjectSubmit Add Subject
        
  table.table.table-hover
    thead
      tr
        th Name 
        th Actions
    tbody
      each studentSubjects
        tr
          td 
            //-a.getSubjectId(href='#') #{name}
            button.btn.btn-xs.btn-default.getSubjectId #{name}
          td
            button.btn.btn-xs.btn-danger.deleteSubject Delete
